{{!-- Template for sprites scss, generate via gulp task --}}
{{!-- The spritesmith use this stupid template engine --}}

// This file is auto generated via gulp task and ignored from git repository
// Any changes in this file will be lose

.nls {
    display: inline-block;
    background-image: url('{{spritesheet.escaped_image}}');

    {{#sprites}}

    &.{{name}} {
        width: {{#pixel px.width}}{{/pixel}};
        height: {{#pixel px.height}}{{/pixel}};
        background-position: {{#pixel px.offset_x}}{{/pixel}} {{#pixel px.offset_y}}{{/pixel}};
    }
    {{/sprites}}
}
